name: Build

on:
  push:
    branches:
      - master


jobs:
  build:
    name: Build and analyze
    runs-on: self-hosted
    
    env:
        NODE_TLS_REJECT_UNAUTHORIZED: '0'
  
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
  
      - name: Disable Git SSL verification (runner local only)
          # Esto evita errores si tu red/proxy intercepta TLS.
          # Sólo para entornos de prueba; en producción arregla el certificado.
        run: git config --global http.sslVerify false
  
      - name: Run SonarQube scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=MiProyectoDelphi
            -Dsonar.projectName=MiProyectoDelphi
            -Dsonar.projectBaseDir=.

    
