name: SonarQube Scan

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  sonar:
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v6
      env:
        SONAR_HOST_URL: http://localhost:9000
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          -Dsonar.projectKey=MiProyectoDelphi
          -Dsonar.projectName=MiProyectoDelphi
          -Dsonar.projectBaseDir=.
